{% extends "base.html" %}

{% block content %}
<h2>CHAT!!!</h2>
POKEY LOVES TO HEAR WHAT YOU ARE THINKING!!!

<table class="messages">
  <thead>
    <tr>
      <td>TIME</td>
      <td>NAME</td>
      <td>THOUGHTS!!!</td>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.time }}</td>
      <td>{{ entry.sender }}</td>
      <td>{{ entry.message }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<input id="new-message"><button id="send-message">SEND!!!</button>
{% endblock %}
