{% extends "base.html" %}

{% block content %}
<h2>CHAT!!!</h2>
POKEY LOVES TO HEAR WHAT YOU ARE THINKING!!!

<table class="messages">
  <thead>
    <tr>
      <td>TIME</td>
      <td>NAME</td>
      <td>THOUGHTS!!!</td>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.time }}</td>
      <td>{{ entry.sender }}</td>
      <td>{{ entry.message }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
TO TALK TO POKEY FIRST ENTER YOUR NAME THEN CLICK ANYWHERE ELSE AND
THE MAGICAL MESSAGE SENDING THINGAMABOBS WILL BECOME ACTIVE!!!
</p>
<input id="name">

<p>POKEY EAGERLY AWAITS YOUR MESSAGES:</p>
<input id="new-message" disabled>
<button id="send-message" disabled>SEND!!!</button>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}
